@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0 auto;
}

.sectionContainer{
  background-color: rgba(255, 238, 0, 0.938);
}

.busquedaContainer {
  display: flex;
  align-items: center;
  width: 800px;
  height: 10%;
  padding: 10px;
  overflow: hidden;
}

.searchInput {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchButton {
  padding: 10px 15px;
  height: 60px;
  align-items: center;
  background-color: #ffffff;
  color: rgb(196, 196, 196);
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #fdfff6;
}

.header{
  background-color: rgba(255, 238, 0, 0.938);
  padding: 10px 20px;
}

.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.logoContainer{
  width: 20%; /* Espacio izquierdo reservado */
}
.navListCenter{
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.navListRight{
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem{
  list-style: none;
  padding: 20px;
  font-size: 1rem;
  color: #000000;
}

.navItem:hover{
  background-color: rgba(235, 219, 0, 0.7);
}

.navCarrito:hover{
  background-color: rgba(235, 219, 0, 0.7);
}

.navCarrito{
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}