.postCard {
  min-width: 200px;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: background-color 0.2s ease;
}

.postCard:hover .title{
    color: #3483fa;
}

.img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0;
  color: #333;
  height: 38px; /* Limita a 2 líneas aprox */
  overflow: hidden;
}

.precioAnterior {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
  margin: 4px 0 0 0;
}

.precio {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 2px 0;
}

.descuento {
  color: #00a650;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.cuotas,
.envio {
  font-size: 12px;
  color: #00a650;
  margin: 1px 0;
}