*{
  margin: 0 auto;
}

.container {
  display: flex;
  width: auto;  
  max-width: 100%;
  padding: 1rem;
  flex-direction: column;
  background-color: rgb(255, 252, 87);
}

.title {
  color: #0f0101;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.description {
  color: #0f0101;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-top: 10px;
}

.postCardContainer {
  display: flex;
  align-self: start;
  background-color: #f0f0f0;
}
