.postCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 5px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 90%;
    height: 200px;
    object-fit: cover;
    background-color: #25deff;
    border-radius: 8px;
}

.title {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
}

.description {
    background-color: #f9f9f9;
    color: #333;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.comprar {
    background-color: #e0f7fa;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #00796b;
}
.cartButton{
    background-color: #e0f7fa;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #00796b;
    cursor: pointer;
    text-align: center;
}

.precio {
    background-color: #e0f7fa;
    padding: 10px;
    font-size: 1.2rem;
    color: #00796b;
    border-radius: 10px;
}

.like {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #00796b;
}