*{
  margin: 0 auto;
}

.container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  width: 1440px;  
  padding: 0 20px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.title {
  color: #000000;
  font-size: 20px;
}

.description {
  color: #000000;
  font-size: 15px;
  margin-top: 10px;
}

.postCardContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 8px 0;
}

.postCardContainer::-webkit-scrollbar {
  display: none; /* Oculta barra de scroll en Chrome */
}